.custom-button{
    background-color: black;
    color:white;
    min-width:165px;
    width: auto;
    height:50px;
    font-size: 1.1rem;
    text-align: center;
    padding:10px;
    border:none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: normal;
    transition: 0.4s ease all;
    display:flex;
    justify-content: center;

    &:hover{
        background-color: white;
        color:black;
        border:1px solid black;
    }

    &.google-sign-in{
        background-color: #4285f4;
        color:white;

        &:hover{
            background-color: #3578e8;
            border:none;
        }
    }

    &.inverted{
        background-color: white;
        color:black;
        border:1px solid black;
        

        &:hover{
            background-color: black;
            color:white; 
            border:none;
        }
    }
}